@model planillas_web.Models.Tipos_ingresos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tipos_ingresos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresas.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresas.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_tipo_ingreso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
