@model IEnumerable<planillas_web.Models.Estados_empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Estados</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Descripcion
        </th>
        <th>
           Empresa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresas.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_estado }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_estado })
        </td>
    </tr>
}

</table>
